@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100% !important;
  margin: 0;
}

.weather-container {
  background: linear-gradient(
    to right,
    #270081,
    #b31aff,
    #0a82fd,
    #01aff6,
    #1c318d,
    #3b51fd
  );

  /* background: linear-gradient(45deg, #3e2d8f 0%, #9d52ac 100%); */

  background-size: cover;
  background-position: center; /* Optional: Center the image */
  background-repeat: no-repeat; /* Optional: Prevent repeating the image */
  width: 100%;
  padding: 50px 0px;
}
h2 {
  font-size: 33px;
  font-weight: 400;
}
